<!--
 * @Author: your name
 * @Date: 2020-05-31 16:56:12
 * @LastEditTime: 2020-05-31 17:03:45
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \webpack-practice\mpa-webpack-config\project\src\components\banner\banner.html
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    banner
</body>
</html>