<!--
 * @Author: your name
 * @Date: 2020-05-31 16:39:42
 * @LastEditTime: 2020-05-31 16:52:38
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \webpack-practice\mpa-webpack-config\project\dist\views\layout.html
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>来来来</title>
    {% block styles %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script src="/index.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>